@use "../../components/_font-sizes.scss" as f;

#consultModal {
  --bg: #C5EEFF;
  --btn: #295F98;
  background: var(--bg);
  margin: auto;
  padding: 2rem;
  font-size: var(--text-lg);
  width: 85vw;
  display: grid;
  grid-template-columns: 45% 23% 23%;
  grid-template-rows: 5rem 4rem 4rem 4rem;
  gap: 1.5rem 1rem;
  border-radius: 1rem;
  padding: 2%;
  position: relative;
  color: black;

  * {
    @include f.text-size(lg)
  }

  input,button,select {
    color: gray;
    padding-inline: 1rem;
    border-radius: .3rem;
    border: .15rem solid var(--btn);
    background: white;
    width: 100%;
  }
  input,select {
    /* font-size: var(--text-sm); */
    height: 100%;
  }

  .validationMsg {
    color: red;
    font-size: var(--text-md);
    display: none;
    &.show {display: block;}
  }
  .validationError {
    border-color: red;
  }

  .full {
    grid-column: 2/4;
  }
  img {
    grid-row: 1/5;
    height: 100%;
    width: auto;
    margin: auto;
    transform: scale(1.7) translateY(2.2rem);
    transform-origin: bottom;
    z-index: 200;
  }
  i {
    position: absolute;
    left: 0;
    top: 0;
    transform: rotate(45deg);
    padding: 1rem;
    font-size: var(--text-2xl);
    cursor: pointer;
  }
  button {
    background: var(--btn);
    color: white;
    font-weight: 900;
  }

}
